// .nav-parent {
//     width: 100%;
//     background-color: paleturquoise;
// }

.nav-container {
    // margin: 0 3rem 0 3rem;
    // display: flex;
    // display: flex;
    // margin: 0 auto;
    // position: fixed;
    // width: 100%;
    // justify-content: center;
    // align-items: center;
    // justify-content: space-between;
    // align-items: center;
    // background-color: paleturquoise;

    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 60rem;
    padding: 5rem 0rem 1rem 0rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}