@media only screen and (max-width: 800px) {
    body .container {
      padding: 2rem 1rem 1rem 1rem;
      text-align: center;
    }
  }

.nav-container {
    // margin: 0 3rem 0 3rem;
    // display: flex;
    // display: flex;
    // margin: 0 auto;
    // position: fixed;
    // width: 100%;
    // justify-content: center;
    // align-items: center;
    // justify-content: space-between;
    // align-items: center;
    // background-color: paleturquoise;

    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 60rem;
    padding: 10rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.content {
    flex-grow: 1;
}